body {
    margin: 0;
    box-sizing: border-box;
    background-image: url(joanna-kosinska-1_CMoFsPfso-unsplash.jpg);
    background-size: cover;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

i {cursor: pointer;
}

nav i {
    position: absolute;
    z-index: 1;
    margin-top: 5px;
    margin-left: 20px;
}

nav ul{
    display: none;
    position: absolute;
    top: 0;
    width: 470px;
    padding: 40px 0 0 40px;
    flex-direction: column;
    align-items: center;
    list-style: none; 
    background-color: #79400a;
    height: 90vh;
}

nav li:first-of-type {
    margin-top: 30px;
}

nav li {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: rgb(255, 217, 0);
}

a:hover {
    background-color: rgb(255, 217, 0);
    color: #79400a;
    border-radius: 40px;
    padding: 5px 10px;
}

.jeu {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 73%;
    margin-left: auto;
    margin-right: auto;
}

.jeu h2 {
    font-size: 6em;
    color:  #79400a;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(255, 217, 0);
}

input{
    padding: 15px 20px;
    font-size: 1.5em;
    width: 50%;
    border-radius: 40px;
}

#boutonDéviner {
    border: none;
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 40px;
    background-color: #79400a;
    color: rgb(255, 217, 0);
    cursor: pointer;
}

#boutonSuivant {
    border: none;
    padding: 10px 20px;
    font-size: 1.5em;
    border-radius: 40px;
    background-color: #79400a;
    color: rgb(255, 217, 0);
    cursor: pointer;
}

#afficherRésultat {
    font-weight: 600;
    font-size: 1.5em;

}

.animation-réponse {
    animation: tourner180 2s;
}
 @keyframes tourner180{
    0% {
        transition: rotate 500ms;
        rotate: 180deg;
        color: white;
        text-shadow: 2px 2px 5px black;
    }

    50%{
        color: green;
    }

    100% {
        transition: rotate 500ms;
        rotate: -180deg;
        color: red;
    }
 }